.post-tags .tag {
  display: inline-block;
  font-size: 0.8em;
  color: #666;
  background: #f0f0f0;
  border-radius: 12px;
  padding: 2px 8px;
  margin-right: 5px;
}


.container {
  display: flex;
}

.sidebar {
  flex: 0 0 220px; /* 사이드바 고정 폭 */
  margin-right: 20px;
}

.main-content {
  flex: 1; /* 남은 공간을 본문이 차지 */
}