---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ page.title }}</h1>
            {% if page.description %}
            <span class="subheading">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <!-- 좌측 카테고리 목록 -->
      <div class="col-md-3">
        <div class="sidebar">
          {% include sidebar.html %}
        </div>
      </div>

      <!-- 우측 포스트 목록 -->
      <div class="col-md-9">
        {{ content }}
      </div>
    </div>
  </div>
